<head>
 <title>Css tag demo</title>
 <%= render 'layouts/rails_default' %>
</head>
<header class="navbar navbar-fixed-top navbar-inverse">
 <%= link_to "Home", home_path %>
 <%= link_to "Html", html_demo_path %>
 <%= link_to "Css", css_demo_path %>
</header>
<body>
 font
 <br>
 color <span style="color:red">red </span><span style="color:blue">blue </span><span style="color:green">green </span>
 <br>
 font-family <span style="font-family:serif">serif </span><span style="font-family:Courier">Courier </span><span style="font-family:Arial">Arial </span><span style="font-family:monospace">monospace </span>
 <br><br>
 font-size <span style="font-size:30px">30px </span></span><span style="font-size:15px">15px <span style="font-size:2em">2em <span style="font-size:2em">2em </span></span><span style="font-size:2rem">2rem <span style="font-size:2rem">2rem </span></span>
 <br><br>
 font-style <span style="font-style:normal">normal </span><span style="font-style:italic">italic </span><span style="font-style:oblique">oblique </span>
 <br><br>
 font-weight <span style="font-weight:normal">normal </span><span style="font-weight:bold">bold </span><span style="font-weight:700">700 </span><span style="font-weight:900">900 </span>
 <br><br>
 text-transform <span style="text-transform:uppercase">upperCASE </span><span style="text-transform:lowercase">lowerCASE </span><span style="text-transform:capitalize">capitalize </span><span style="text-transform:full-width">full-width </span>
 <br><br>
 text-decoration <span style="text-decoration:none">none </span><span style="text-decoration:underline">underline </span><span style="text-decoration:overline">overline </span><span style="text-decoration:line-through">line-through </span><span style="text-decoration:underline yellow double">underline yellow double </span>
 <br><br>
 text-shadow <span style="text-shadow:5px 5px 5px blue">5px 5px 5px blue </span><span style="text-shadow:5px 5px 0px green">5px 5px 0px green </span><span style="text-shadow:5px 0px 1px yellow">5px 0px 1px yellow </span><span style="text-shadow:0px 5px 1px brown">0px 5px 1px brown </span><span style="text-shadow:0px 5px 1px brown">0px 5px 1px brown </span><span style="text-shadow:-2px 2px 1px orange, 2px -2px 1px red">multiple </span>
 <br><br>
 text-align <p  style="text-align: center; border: solid; width:200px">center</p><p  style="text-align: left; border: solid; width:200px">left</p><p  style="text-align: right; border: solid; width:200px">right</p><p  style="text-align: justify; border: solid; width:200px">justify justify justify justify justify justify justify justify justify justify justify justify</p>
 <br><br>
 margin <p style="text-align: center; border: solid; width:200px; margin: auto">margin: auto</p><p  style="text-align: center; border: solid; width:200px; margin-left: auto">margin-left: auto</p><p  style="text-align: center; border: solid; width:200px; margin-right: auto">margin-right: auto</p>
 <br><br>
 line-height <p style="line-height: 1.5; border: solid">line-height: 1.5 </p><p style="line-height: 2.0; border: solid">line-height: 2.0 </p><p style="line-height: 3.0; border: solid">line-height: 3.0 </p>
 <br><br>
 letter-spacing <p style="letter-spacing: 1px; border: solid">letter-spacing: 1px </p><p style="letter-spacing: 2px; border: solid">letter-spacing: 2px </p><p style="letter-spacing: 3px; border: solid">letter-spacing: 3px </p>
 <br><br>
 word-spacing <p style="word-spacing: 3px; border: solid">word-spacing word-spacing: 3px </p><p style="word-spacing: 6px; border: solid">word-spacing word-spacing: 6px </p><p style="word-spacing: 9px; border: solid">word-spacing word-spacing: 9px </p>
 <br><br>
 list
 <ol style="list-style-type: upper-roman" start="400" reversed>
  <li style="list-style-type: square">list-style-type: square</li>
  <li style="list-style-type: circle">list-style-type: circle</li>
  <li style="list-style-position: inside" value="20">list-style-position: inside</li>
  <li style="list-style-position: inside" value="300">list-style-position: inside</li>
  <li style="list-style-position: inside" value="999">list-style-position: outside</li>
  <li style="list-style-position: inside">list-style-position: outside</li>
  <li style="list-style-position: inside" >list-style-position: outside</li>
  
</ol>


</body>
<footer class="footer">
</footer>